/* ===================== RESET ===================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
    text-decoration:none;
    list-style:none;
}

body{
    background:#f6f6f6;
}

/* ===================== HEADER ===================== */

header{
    width:100%;
    height:90px;
    background:#05132c;

    display:flex;
    align-items:center;

    position:relative;
    overflow:visible;  
}

.logo{
    position:absolute;

    width:118px;

    left:70px;
    top:10px; 

    z-index:100;
}

.navmenu{
    display:flex;
    gap:55px;
    margin-left: 260px;
    font-size: 14px;
}

.navmenu a{
    display: inline-block; /* ou block */
    color:#FFFFFF;
    font-weight:500;
    transition: transform .3s ease, color .3s ease;
}

.navmenu a:hover{
    color:#9e9e9e;
    transform: translateY(-5px);
}

.icons-menu{
  position:absolute;
  display:flex;
  margin-left: 1200px;
  gap:20px;
}

.icons-menu img{
  width: 23px;
  height: auto;
  transition: transform .3s ease, color .3s ease;
}

.icons-menu img:hover{
    color:#9e9e9e;
    transform: translateY(-5px);
}

/* Banner */

.banner{
    width:100%;
    display:block;
}