/* ===================== RESET ===================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
    text-decoration:none;
    list-style:none;
}

body{
    background:#f6f6f6;
    overflow-x:hidden; /* remove rolagem horizontal */
}


/* ===================== HEADER ===================== */

header{
    width:100%;
    height:90px;
    background:#05132c;

    display:flex;
    align-items:center;

    position:relative;
    overflow:visible;
}

.logo{
    position:absolute;
    width:118px;

    left:70px;
    top:10px;

    z-index:100;
}

.navmenu{
    display:flex;
    gap:55px;

    margin-left:260px;

    font-size:14px;
}

.navmenu a{
    display:inline-block;

    color:#fff;
    font-weight:500;

    transition:.3s;
}

.navmenu a:hover{
    color:#9e9e9e;
    transform:translateY(-5px);
}


/* ===================== ÍCONES HEADER ===================== */

.icons-menu{
    position:absolute;

    display:flex;
    gap:20px;

    right:80px;
}

.icons-menu img{
    width:23px;
    height:auto;

    transition:.3s;
}

.icons-menu img:hover{
    transform:translateY(-5px);
}


/* ===================== BANNER ===================== */

.banner{
    width:100%;
    display:block;
}

.banner-btn{
    position:absolute;

    left:90px;
    top:407px;

    padding:15px 38px;

    border:2px solid #fff;
    border-radius:40px;

    color:#fff;
    background:#05132c;

    font-weight:600;

    transition:.3s;
}

.banner-btn:hover{
    background:#fff;
    color:#05132c;
}


/* ===================== TÍTULO CATEGORIAS ===================== */

.categorias-texto{
    text-align:center;
    margin-top:55px;
}

.categorias-texto h4{
    display:flex;

    align-items:center;
    justify-content:center;

    gap:15px;

    font-size:14px;
    font-weight:600;

    color:#ff914d;

    letter-spacing:2px;

    margin-bottom:12px;
}

.categorias-texto h4::before,
.categorias-texto h4::after{
    content:"";

    width:45px;
    height:1px;

    background:#ff914d;

    border-radius:2px;
}

.categorias-texto h2{
    font-size:38px;
    font-weight:600;

    color:#05132c;
}


/* ===================== CARROSSEL ===================== */

.carrossel{
    width:100%;

    overflow:hidden;

    margin-top:30px;

    padding:25px 0;
}

.track{
    display:flex;

    gap:40px;

    width:max-content;

    animation:deslizar 90s linear infinite;

    will-change:transform;
}

.item{
    width:180px;

    text-align:center;

    flex-shrink:0;
}

.item img{
    width:150px;
    height:150px;

    border-radius:50%;

    object-fit:cover;

    transition:.3s;
}

.item img:hover{
    transform:scale(1.05);
}

.item h3{
    margin-top:15px;
    font-size:15px;
    color:#05132c;
    font-weight:600;
}

.item p{
    margin-top:5px;
    font-size:12px;
    line-height:1.4;
    color:#777;
    max-width:200px;
    margin-left:auto;
    margin-right:auto;
}


/* ===================== ANIMAÇÃO ===================== */

@keyframes deslizar{
    from{
        transform:translateX(0);
    }

    to{
        transform:translateX(calc(-50% - 20px));
    }
}

/* ===================== DESTAQUES ===================== */

.destaques{
    background:#07162e;
    padding: 1px 5%;
}

.titulo{
    text-align:center;
    margin-bottom:50px;
}

.titulo h4{
    color:#ff914d;
    letter-spacing:2px;
    font-size:14px;
}

.titulo h2{
    color:#fff;
    font-size:42px;
}

.produtos{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:50px;
}

.card-produto{
    background:#fff;
    border-radius:14px;
    overflow:hidden;
    transition:.3s;
    transition: transform .3s ease;
}

.card-produto:hover{
    transform: scale(1.02);
}

.card-produto img{
    width:250px;
    height:250px;
    border-radius:14px;
    object-fit:cover;
    display:block;
    margin: 7px auto;
}

.info{
    padding:10px;
}

.info h3{
    margin-top:-2px;      /* distância da imagem */
    margin-bottom:11px;   /* distância até o texto */

    color:#05132c;
    font-size:18px;
    text-align:center;
}

.info p{
    color:#666;
    margin:8px 0 20px;
}

.info a{
    display:block;
    text-align:center;

    padding:12px;

    border-radius:8px;

    background:#ff914d ;
    color:#fff;
    font-weight:600;
    transition: transform .3s ease;

}

.info a:hover{
    transform: scale(1.02);
}